@font-face {
  font-family: Nunitoo;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/Nunito/Nunito-ExtraLight.ttf');
}
@font-face {
  font-family: Nunitoo;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Nunito/Nunito-Regular.ttf');
}
@font-face {
  font-family: Nunitoo;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Nunito/Nunito-Bold.ttf');
}

$line-height: 1.75em;
$font-family: Nunitoo, sans-serif;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;

$h1-font-size: 2.5em;
$h2-font-size: 2.0em;
$h3-font-size: 1.5em;
$h4-font-size: 1.0em;
$h5-font-size: 0.75em;
$h6-font-size: 0.5em;
$p-font-size: 0.875em;
