.button {
  @extend %primary;
  padding: .8em 2em;
  border: 0;
  font-size: 0.8em;
  outline: 0 0 5px $color-secondary;
  cursor: pointer;

  .primary {

  }

  .secondary {

  }

  .alert {

  }

  .warning {

  }

  .info {

  }

  .active {
    @extend %active;
  }
}