
.page-header {
  @include size(100vw, 21vw);
  padding: 0 $section-padding;
  color: white;
  background: url('/assets/images/backgrounds/space.png') center center / cover fixed no-repeat;
  grid-template-areas: 'navbar' 'a';
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;

  &.main {
    @include size(100vw, 55vw);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'navbar navbar' 'a b';
    grid-gap: 0 $gutter;
    text-align: left;
  }
}