
.icon-card {
  @include size(9.375em);
  background: white;
  border: 1px solid $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    @include size(6em);
    object-fit: contain;
  }
}