
.page-section {
  @include size(100vw, 788px);
  background: url('/assets/images/backgrounds/background.svg') center center / cover fixed no-repeat;
  justify-content: center;
  grid-template-columns: $max-content;

  .container {
    grid-gap: 0 $gutter;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  &.blue-full{
    background: url('/assets/images/backgrounds/background.svg') center center / cover fixed no-repeat, $color-secondary;
  }

  &.full {
    .container {
      grid-template-columns: 1fr;
      justify-items: stretch;
      grid-auto-flow: row;
    }
  }
}