
.page-section {
  @include size(100vw, 55vw);
  padding: 0 $section-padding;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-gap: 0 $gutter;
  grid-template-columns: 1fr 1fr;
  background: url('/assets/images/backgrounds/background.svg') center center / cover fixed no-repeat;

  &.blue-full{
    background: url('/assets/images/backgrounds/background.svg') center center / cover fixed no-repeat, $color-secondary;
  }

  &.full {
    grid-template-columns: 1fr;
    justify-items: left;
  }
}