
.subtitle {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 2px;
    background: $color-common;
    transition: all .3s ease;
  }

  &.center {
    text-align: center;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}