@import 'shared/scss/index';


.networks {
  grid-gap: $padding;

  &__item {
    width: 32px;
    height: 32px;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background: $color-primary;
    }
  }
}