.grid {
  display: grid;
  grid-auto-flow: column;

  &.row {
    grid-auto-flow: row;
  }

  &.gap-gutter {
    grid-gap: $gutter;
  }

  &.gap-padding {
    grid-gap: $padding;
  }

  &.item-h-center {
    justify-items: center;
  }

  &.item-v-center {
    align-items: center;
  }

  &.content-h-start {
    justify-content: start;
  }
}