
.navbar {
  @include size(100%, 75px);
  padding: $padding 0;
  display: grid;
  grid-template-columns: 15% 1fr auto;
  grid-gap: $gutter;
  justify-items: left;
  align-items: center;
  color: white;
  grid-area: navbar;
  justify-self: left;

  &__logo {
    @include size(36px);
  }

  &__pages {
    grid-gap: $padding;

    &__item {
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @include size(0, 1px);
        background: white;
        transition: all .3s ease;
      }

      &.active, &:hover {
        &::before {
          width: 100%;
        }
      }

      &.active {
        &::before {
          height: 2px;
        }
      }
    }
  }
}